project_name: {{ .ProjectName }}

before:
  hooks:
    - go mod tidy

builds:
  - env:
      - CGO_ENABLED=0
    goos:
      - linux
      - windows
      - darwin
    goarch:
      - amd64
      - arm64
{{ if or (eq .Go.ProjectType "library") (eq .Go.ProjectType "local-library") (eq .Go.ProjectType "distributed-library") }}
    # Configuration for a library
    mod_timestamp: '{{`{{.CommitTimestamp}}`}}'
    flags:
      - -trimpath
    ldflags:
      - -s -w
{{ else }}
    # Configuration for an application
    # Find the main entry point by priority order
    {{ if .Go.MainPath }}
    main: {{ .Go.MainPath }}   # Use the specified path if available
    {{ else }}
    main: ./cmd/{{ .ProjectName }}  # Default path
    {{ end }}
    ldflags:
      - -s -w
      - -X main.Version={{`{{.Version}}`}}
      - -X main.CommitSHA={{`{{.Commit}}`}}
      - -X main.BuildDate={{`{{.Date}}`}}
    binary: {{ .ProjectName }}
{{ end }}

archives:
  - format: tar.gz
    name_template: "{{ .ProjectName }}_{{`{{ .Version }}_{{ .Os }}_{{ .Arch }}`}}"
    format_overrides:
      - goos: windows
        format: zip
    files:
      - README.md
      - LICENSE
      - docs/*

changelog:
  sort: asc
  filters:
    exclude:
      - '^docs:'
      - '^test:'
      - Merge pull request
      - Merge branch

checksum:
  name_template: 'checksums.txt'

snapshot:
  name_template: "{{`{{ incpatch .Version }}`}}-next"

# Generate Software Bill of Materials (SBOM) for all binaries
sboms:
  - artifacts: archive
    documents:
      - "${.ProjectName}_{{`{{ .Version }}_{{ .Os }}_{{ .Arch }}_sbom.spdx.json`}}"
    cmd: syft
    args: ["$artifact", "--file", "${.ProjectName}_{{`{{ .Version }}_{{ .Os }}_{{ .Arch }}_sbom.spdx.json`}}", "--output", "spdx-json"]

# Configuration for GitHub release only
release:
  github:
    owner: {{ .GitHubOwner }}
    name: {{ .ProjectName }}
  draft: false
  prerelease: auto

# Explicit deactivation of gomod to prevent publication on proxy.golang.org
gomod:
  proxy: false
